<div id="conf-body">
    <div class="order-info">
        <h3>Confirm Your Order</h3>

        <div class="msg" ng-hide="hasProd()">
            <p class="not-done"><span class="symbol"></span>You have not selected a Roadwire product for purchase. Are you interested in
            </p>
            <p class="not-done text-center">
                <a href="" ng-click="routeLea()"><span></span>Leather Seat Covers?</a>
            </p>
            <p class="not-done text-center">
                <a href="" ng-click="routeHeat()"><span></span>Seat Heaters?</a>
            </p>

        </div>

        <div class="order-line" ng-repeat="line in lines">
            <div class="header">
                <div class="title">{{line.title}}</div>
                <div class="modify"><span title="Edit" ng-if="line.edtFcn" ng-click="line.edtFcn()">Edit</span></div>
                <div class="remove"><span title="Remove" ng-if="line.delFcn" ng-click="line.delFcn($index)">Remove</span></div>
            </div>
            <div class="details">
                
                <div class="display">
                    <img ng-if="line.url" ng-src="{{line.url}}" alt="the color">
                </div>
                
                <div class="items">
                    <div class="descr" ng-repeat-start="item in line.items">
                        {{item.descr}}
                    </div>
                    <div class="total" ng-repeat-end>
                        <span ng-if="item.total">{{item.total | currency}}</span>
                    </div>
                    <div class="descr" ng-if="line.installed">
                        <a href="" class="prof-inst" ng-click="whyInstall()"><span class="symbol"></span> Professional Installation Included</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="order-line">
            <div class="header">
                <div class="title">Total</div>
                <div class="total">
                    <span ng-if="total">{{total | currency}}</span>
                </div>
            </div>
        </div>

    </div>

    <div class="member-info">
        <h3>Enter Costco Member Information</h3>
        <div class="details">

            <div>
                <label for="inputEmail" ng-class="{required: !member.email}">Member Email </label><span ng-class="{required: !member.email}"> </span>
                <input type="text" id="inputEmail" placeholder="Costco.com Member Email" ng-model="member.email">
            </div>

            <div>
                <label for="inputLast" ng-class="{required: !member.lastname}">Ship Last Name </label><span ng-class="{required: !member.lastname}"> </span>
                <input type="text" id="inputLast" placeholder="Ship To Last Name" ng-model="member.lastname">
            </div>

            <div>
                <label for="inputPostal" ng-class="{required: !member.postal}">Ship To Zip Code </label><span ng-class="{required: !member.postal}"> </span>
                <input type="text" id="inputPostal" placeholder="Ship To Zip Code" ng-model="member.postal">
            </div>

            <div>
                <label for="inputPhone" ng-class="{required: !member.phone}">Phone </label><span ng-class="{required: !member.phone}"> </span>
                <input type="text" id="inputPhone" placeholder="Phone" ng-model="member.phone">
            </div>

        </div>
        <div class="confirm">
            <div class="msg">
                <div ng-hide="confirmable()">
                    <p class="not-done" ng-hide="hasProd()">
                        <span class="symbol"></span>
                        Please select your Roadwire product.
                    </p>
                    <p class="not-done" ng-hide="hasMember()">
                        <span class="symbol"></span>
                        <span ng-show="hasProd()">You are almost done.</span>
                        Please fill out your Costco.com membership information so we can process your order.
                    </p>
                </div ng-hide="confirmable()">
                
                <p class="done" ng-show="confirmable()">
                    <span></span>
                    You are now ready to complete your purchase on Costco.com. Thank you.
                </p>
            </div class="msg">
            <button type="button" ng-disabled="!confirmable()" ng-click="linkToCostCo()">
                Complete Order on Costco.com
                <span></span>
            </button>
        </div>

    </div>

</div>