<div id="lea-body">
    <div id="sel-car" class="sel-opt-sect sel-sect-fade">
        <h4 class="sel-caption">Find Your Vehicle</h4>
        <div sel-car-select sec-model="make"></div>
        <div sel-car-select sec-model="year"></div>
        <div sel-car-select sec-model="model"></div>
        <div sel-car-select sec-model="body" sec-plural="Bodies" sec-only-opts="true"></div>
    </div>
    
    <div class="loading-large" ng-show="trimShowLoading()"></div>
    <div id="sel-trim" class="sel-opt-sect  sel-sect-fade" ng-show="trimShowOpts()">
        <h4 class="sel-caption">Find Your Trim Level</h4>
        <div sel-car-select sec-model="trim" sec-name="Trim Level" sec-only-opts="true"></div>
        <div sel-car-select sec-model="car" sec-only-opts="true"></div>
        <div sel-car-select sec-model="ptrn" sec-name="Configuration" sec-only-opts="true"></div>
    </div>
    
    <div class="loading-large" ng-show="intShowLoading()"></div>
    <div id="sel-int" class="sel-opt-sect sel-sect-fade" ng-show="intShowOpts()">
        <h4 class="sel-caption">Interior Color of Your Vehicle</h4>
        <div sel-car-select sec-model="int" sec-name="Interior Color"></div>
    </div>
    
    <div class="loading-large" ng-show="kitShowLoading()"></div>
    
    <div class="sel-opt-sect sel-sect-fade" ng-show="kitShowOpts() && !kitShowLoading() && (!trimShowOpts() || !intShowOpts())"></div>

    <div id="sel-color" class="sel-chc-sect sel-sect-fade" ng-show="kitShowOpts()">
        <h4 class="sel-caption">Select Your Color</h4>
        <ul class="list-inline">
            <li ng-repeat="col in kit.list" ng-click="pickKit($index)" title="{{col.name}}">
                <div class="box-descr">{{col.leacolorname}} {{col.sku}}</div>
                <img id="{{col.name}}" ng-src="{{col.displayUrl}}" alt="{{col.name}}" class="sel-kit">
                <div>{{col.rectype}}</div>
            </li>
        </ul>
    </div>    
</div>
