<div id="map-body" class="map-body">

    <div id="inst-lookup">
        @*<form ng-submit="loadInstallers()" name="zipForm" class="form-inline" novalidate="novalidate">

            <label class="control-label" for="inputIcon"><strong>Enter Your Zipcode</strong></label>

            <div class="input-append">
                <input type="text" name="locZip" id="locZip" class="span2" ng-model="zipcode" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/" required>
                <button class="btn" type="submit" ng-disabled="zipForm.locZip.$error.pattern || zipForm.locZip.$error.required">
                    Find Locations <i class="icon-search"></i>
                </button>

                <div class="pull-right"><button type="button" class="btn btn-default" ng-click="reset()">Reset</button></div>
            </div>

            <span class="text-warning" ng-show="zipForm.locZip.$error.pattern || zipForm.locZip.$error.required"> Enter a valid zipcode </span>

        </form>*@
        
    </div>

    <div id="map-canvas"></div>

</div>

@*<google-map center="map.center"
            zoom="map.zoom"
            draggable="true"
            dragging="map.dragging"
            bounds="map.bounds"
            events="map.events"
            options="map.options"
            pan="true"
            control="map.control">

    <marker icon="searchLocationMarker.icon"
            coords="searchLocationMarker.coords"
            options="searchLocationMarker.options"
            events="searchLocationMarker.events">
    </marker>

    <markers models="map.markers" coords="'self'" icon="'icon'" click="'onClicked'"
             fit="map.fit">

        <windows show="'showWindow'" closeclick="'closeClick'" ng-cloak>
            <div>
                <p ng-non-bindable>{{title}} Trim Shop of {{title}}</p>
                <p>Address 1</p>
                <p>Address 2</p>
                <p ng-non-bindable>{{distance}}</p>
            </div>
        </windows>

    </markers>
</google-map>*@
