<div id="sel-head" class="sel-sect">
    Roadwire
</div>

<div id="sel-body">
    <div id="sel-car" class="sel-opt-sect">
        <h4 class="sel-caption">Find Your Vehicle</h4>

        <div class="sel-opt">
            <div>
                <span class="loading">Loading...</span>
            </div>
            <select id="slct-make" class="sel-slct">
                <option value="" class="ng-binding">-- Select --</option>
                <option value="1">opt 1</option>
                <option value="1">opt 1</option>
            </select>
        </div>
        <div class="sel-opt">
            <div>
                <span class="loading"></span>
            </div>
            <select id="slct-make" class="sel-slct">
                <option value="" class="ng-binding">-- Select --</option>
                <option value="1">opt 1</option>
                <option value="1">opt 1</option>
            </select>
        </div>
    </div>
    <div id="sel-trim" class="sel-opt-sect">
        <h4 class="sel-caption">Find Your Trim Level</h4>
        <div class="sel-opt">
            <div>
                <span class="loading"></span>
            </div>
            <select id="slct-make" class="sel-slct">
                <option value="" class="ng-binding">-- Select --</option>
                <option value="1">opt 1</option>
                <option value="1">opt 1</option>
            </select>
        </div>
    </div>
    
    <div id="sel-int" class="sel-opt-sect">
        <h4 class="sel-caption">Select Interior Color</h4>
        <div class="sel-opt">
            <div>
                <span class="loading"></span>
            </div>
            <select id="slct-make" class="sel-slct">
                <option value="" class="ng-binding">-- Select --</option>
                <option value="1">opt 1</option>
                <option value="1">opt 1</option>
            </select>
        </div>
    </div>

    <div id="sel-color" class="sel-chc-sect">
        <h4 class="sel-caption">Select Your Color</h4>
        @*<span class="loading-large">Loading...</span>*@
    </div>
</div>
