@*Test Index*@

@section styles{
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

    <style>
        .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
            pointer-events: initial;
        }
    </style>
}

<h4>test</h4>

<button class="btn" disabled="disabled">Push Me Pull You</button>

@section scripts{
}