html,
body,
.app-container,
.page-view {
  height: 100%;
  margin: 0px;
}
html {
  padding: 1px;
  border: 1px solid #000000;
}
body {
  padding: 1px;
  border: 1px solid #ff0000;
}
.app-container {
  padding: 1px;
  border: 1px solid #008000;
}
.page-view {
  padding: 1px;
  border: 1px solid #0000ff;
}
.map-foot,
.map-head {
  padding: 1px;
  border: 1px solid #808080;
}
#map-canvas {
  height: 100%;
  padding: 1px;
  border: 1px solid #ff0000;
  background: #e0dada;
}
