html, body, .app-container, .page-view {
    height: 100%;
    margin: 0px;
    //padding: 0px;
}

.bord(@color, @bord: 1px) {
    padding: 1px;
    border: 1px solid @color;
}

html {
    .bord(black);
}

body {
    .bord(red);
}

.app-container {
    .bord(green);
}

.page-view {
    .bord( blue);
}

.map-foot, .map-head {
    .bord(gray)
}

#map-canvas {
    height: 100%;
    .bord(red, 2px);
    background: #e0dada;
}