@section styles{
    @Styles.Render("~/Content/costco")
}

<div id="costco-view" ng-app="costco" ng-controller="CostcoCtrl">
    <div class="clearfix well">
        <h3><span ng-bind="heading"></span></h3>
        <div ng-view></div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/costco")
}
