@section styles{
    @Styles.Render("~/Content/costco")
}

<div id="costco-container" ng-app="costco" ng-controller="CostcoCtrl">
    <div ng-view id="costco-view"></div>
    <footer class="costco-footer">
        &copy; @DateTime.Now.Year - Roadwire LLC
    </footer>
</div>


@section scripts{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/costco")
}
