// Core variables and mixins
@import (reference) "./../bootstrap/bootstrap.less";

// this is all based on bootstrap included with box-sizing: border-box

.heightvals(@topm: 0px, @botm: 0px, @bord: 0px, @topp: 0px, @botp: 0px) {
    margin-top: @topm;
    margin-bottom: @botm;
    border-width: @bord;
    padding-top: @topp;
    padding-bottom: @botp;
}

.heightvar(@tot, @topm: 0px, @botm: 0px, @bord: 0px, @topp: 0px, @botp: 0px) {
    @tot-ht: @tot;
    @css-ht: @tot - (@topm + @botm); 
    @content-ht: @css-ht - (@bord * 2) - (@topp + @botp);
}

.heighttot(@tot, @topm: 0px, @botm: 0px, @bord: 0px, @topp: 0px, @botp: 0px) {
    .heightvals(@topm, @botm, @bord, @topp, @botp);
    .heightvar(@tot, @topm, @botm, @bord, @topp, @botp);
    height: @css-ht;
}

@cc-tot-ht: 500;
@wire-frame-bord: 0;
@wire-frame-marg: 1px;

@cc-bdy-padt: 5px;
@cc-bdy-padb: @cc-bdy-padt;
body {
    .heighttot(@cc-tot-ht, 0, 0, 0, @cc-bdy-padt, @cc-bdy-padb);
    @cc-bdy-cnt-ht: @content-ht;
    cc-bdy-cnt-ht: @cc-bdy-cnt-ht;

    @cc-cont-bord: 2px;
    @cc-cont-padt: 5px;
    @cc-cont-padb: @cc-cont-padt;

    #costco-container when (@cc-cont-bord > 0) {
        border-style: solid;
        border-color: #808080;
        border-radius: 4px;
    }
    #costco-container
    {
        .container();

        @media (min-width: @screen-sm-min) {
            max-width: ((720px + @grid-gutter-width));
        }
        @media (min-width: @screen-md-min) {
            max-width: ((748px + @grid-gutter-width));
        }
        @media (min-width: @screen-lg-min) {
            max-width: ((748px + @grid-gutter-width));
        }

        .heighttot(@cc-bdy-cnt-ht, 0, 0, @cc-cont-bord, @cc-cont-padb, @cc-cont-padt);
        @cc-cont-cnt-ht: @content-ht;
        cc-cont-cnt-ht: @cc-cont-cnt-ht;

        @cc-foot-tot-ht: 25px;
        @cc-foot-bord: @wire-frame-bord;
        @cc-foot-padt: 5px;
        @cc-foot-padb: @cc-foot-padt;

        @cc-view-bord: @wire-frame-bord;
        @cc-view-tot-ht:  @cc-cont-cnt-ht - @cc-foot-tot-ht;
        
        // costco View 
        #costco-view when (@cc-view-bord > 0) {
            border-style: solid;
            border-color: #0026ff;
        }
        #costco-view
        {
            .clearfix;
            .heighttot(@cc-view-tot-ht, 0, 0, @cc-view-bord);
            @cc-view-cnt-ht: @content-ht;
            cc-view-cnt-ht: @cc-view-cnt-ht;

            // Selector Header
            @cc-sel-head-tot-ht: 30px;
            @cc-sel-head-bord: @wire-frame-bord;
            
            #sel-head when (@cc-sel-head-bord > 0) {
                border-style: solid;
                border-color: #ddd;
            }
            #sel-head
            {
                .heighttot(@cc-sel-head-tot-ht, 0, 0, @cc-sel-head-bord);
                width: auto;
                background: url('/Content/Images/logo.png') no-repeat left center;
                background-size: contain;
                color: transparent;
            }

            //Selector Body
            @cc-sel-body-tot-ht: @cc-view-cnt-ht - @cc-sel-head-tot-ht;
            @cc-sel-body-bord: @wire-frame-bord;

            #sel-body when (@cc-sel-body-bord > 0) {
                border-style: solid;
                border-color: #ffd800;
            }
            #sel-body
            {
                .heighttot(@cc-sel-body-tot-ht, 0, 0, @cc-sel-body-bord);
                @cc-sel-body-cnt-ht: @content-ht;
                cc-sel-body-cnt-ht: @cc-sel-body-cnt-ht;
                width: auto;
                background: url('/Content/Images/carbkgrnd.jpg') no-repeat left center;

                // Seletor Sections

                @cc-sel-sect-cap-tot-ht: 25px;
                @cc-sel-sect-cap-marg-ht: 3px;
                .sel-caption {
                    .heighttot(@cc-sel-sect-cap-tot-ht, 0px, @cc-sel-sect-cap-marg-ht);
                }

                .sel-sect
                {
                    padding-left: 5px;
                    padding-right: 5px;
                    background: rgba(0,0,0,0.5);
                    .sel-caption {
                        .heighttot(@cc-sel-sect-cap-tot-ht, 5px, 5px);
                        @cc-sel-opt-sect-cap-ht: @content-ht;
                        color: #ffffff;
                        font-weight: bold;
                    }
                    span {
                        color: #ffffff;
                        font-weight: bold;
                    }
                }

                // Seletor Option Section

                @cc-sel-opt-sect-tot-ht: 65px;
                @cc-sel-opt-sect-bord: @wire-frame-bord;
                @cc-sel-opt-sect-padt: 3px;
                @cc-sel-opt-sect-padb: 6px;
                .sel-opt-sect when (@cc-sel-opt-sect-bord > 0) {
                    border-style: solid;
                    border-color: #ff00dc;
                }
                .sel-opt-sect
                {
                    .heighttot(@cc-sel-opt-sect-tot-ht, 0, 0, @cc-sel-opt-sect-bord, @cc-sel-opt-sect-padt, @cc-sel-opt-sect-padb);
                    @cc-sel-opt-sect-ht: @content-ht;

                    .sel-sect();

                    @cc-sel-opt-bord: @wire-frame-bord;
                    @cc-sel-tot-ht: @cc-sel-opt-sect-ht - @cc-sel-sect-cap-tot-ht;
                    .sel-opt when (@cc-sel-opt-bord > 0) {
                        border-style: solid;
                        border-color: #4cff00;
                    }
                    .sel-opt {
                        .heighttot(@cc-sel-tot-ht, 0, 0, @cc-sel-opt-bord);
                        @cc-sel-opt-cnt-ht: @content-ht;
                        display: inline-block;
                        margin-right: 10px;

                        div{
                            display: inline-block;
                        }
                        .sel-slct {
                            .form-control;
                            display:inline-block;
                            width: auto;
                            font-size: @font-size-base;
                            font-weight: bold;
                            max-height: @cc-sel-opt-cnt-ht;
                            padding: 3px 12px;
                        }
                    }
                }

                @cc-sel-chc-sect-tot-ht: @cc-sel-body-cnt-ht - (@cc-sel-opt-sect-tot-ht * 3);
                cc-sel-chc-sect-tot-ht: @cc-sel-chc-sect-tot-ht;
                @cc-sel-chc-sect-bord: @wire-frame-bord;
                @cc-sel-chc-sect-pad: 3px;
                .sel-chc-sect when (@cc-sel-chc-sect-bord > 0) {
                    border-style: solid;
                    border-color: #00ff90;
                }
                .sel-chc-sect {
                    .heighttot(@cc-sel-chc-sect-tot-ht, 0, 0, @cc-sel-chc-sect-bord, @cc-sel-chc-sect-pad, @cc-sel-chc-sect-pad);
                    @cc-sel-opt-sect-ht: @content-ht;

                    .sel-sect();

                    ul {
                        margin-left: 1px;
                        background: rgba(255, 255, 255, 0.75);
                        img.sel-kit
                        {
                            .size(150px; 150px);
                        }
                        .select-box {
                            color: #000;
                            font-weight: bold;
                            text-align:center;
                        }
                    }
                }

            }
        }
    
        // costco Footer
        .costco-footer {
            .heighttot(@cc-foot-tot-ht, 0, 0, @cc-foot-bord, @cc-foot-padt, @cc-foot-padb);
        }
        .costco-footer when (@cc-foot-bord > 0) {
            border-style: solid;
            border-color: #ff6a00;
        }
    }

}

// Map
.cc-map, .angular-google-map-container 
{
    width: 100%; 
    height: 380px; 
    position: relative; 
    overflow: hidden; 
    -webkit-transform: translateZ(0px); 
    background-color: rgb(229, 227, 223);
}


