.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
body #costco-container:before,
body #costco-container:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
body #costco-container:after {
  clear: both;
}
body {
  margin-top: 0;
  margin-bottom: 0;
  border-width: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 500;
  cc-bdy-cnt-ht: 490px;
}
body #costco-container {
  border-style: solid;
  border-color: #808080;
  border-radius: 4px;
}
body #costco-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  border-width: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 490px;
  cc-cont-cnt-ht: 476px;
}
@media (min-width: 768px) {
  body #costco-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  body #costco-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body #costco-container {
    width: 1170px;
  }
}
body #costco-container > .navbar-header,
body #costco-container > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  body #costco-container > .navbar-header,
  body #costco-container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  body #costco-container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  body #costco-container {
    max-width: 778px;
  }
}
@media (min-width: 1200px) {
  body #costco-container {
    max-width: 778px;
  }
}
body #costco-container #costco-view {
  margin-top: 0;
  margin-bottom: 0;
  border-width: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 451px;
  cc-view-cnt-ht: 451px;
}
body #costco-container #costco-view:before,
body #costco-container #costco-view:after {
  content: " ";
  display: table;
}
body #costco-container #costco-view:after {
  clear: both;
}
body #costco-container #costco-view:before,
body #costco-container #costco-view:after {
  content: " ";
  display: table;
}
body #costco-container #costco-view:after {
  clear: both;
}
body #costco-container #costco-view #sel-head {
  margin-top: 0;
  margin-bottom: 0;
  border-width: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 30px;
  width: auto;
  background: url('/Content/Images/logo.png') no-repeat left center;
  background-size: contain;
  color: transparent;
}
body #costco-container #costco-view #sel-body {
  margin-top: 0;
  margin-bottom: 0;
  border-width: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 421px;
  cc-sel-body-cnt-ht: 421px;
  width: auto;
  background: url('/Content/Images/carbkgrnd.jpg') no-repeat left center;
  cc-sel-chc-sect-tot-ht: 226px;
}
body #costco-container #costco-view #sel-body .sel-caption {
  margin-top: 0px;
  margin-bottom: 3px;
  border-width: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 22px;
}
body #costco-container #costco-view #sel-body .sel-sect {
  padding-left: 5px;
  padding-right: 5px;
  background: rgba(0, 0, 0, 0.5);
}
body #costco-container #costco-view #sel-body .sel-sect .sel-caption {
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 15px;
  color: #ffffff;
  font-weight: bold;
}
body #costco-container #costco-view #sel-body .sel-sect span {
  color: #ffffff;
  font-weight: bold;
}
body #costco-container #costco-view #sel-body .sel-opt-sect {
  margin-top: 0;
  margin-bottom: 0;
  border-width: 0;
  padding-top: 3px;
  padding-bottom: 6px;
  height: 65px;
  padding-left: 5px;
  padding-right: 5px;
  background: rgba(0, 0, 0, 0.5);
}
body #costco-container #costco-view #sel-body .sel-opt-sect .sel-caption {
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 15px;
  color: #ffffff;
  font-weight: bold;
}
body #costco-container #costco-view #sel-body .sel-opt-sect span {
  color: #ffffff;
  font-weight: bold;
}
body #costco-container #costco-view #sel-body .sel-opt-sect .sel-opt {
  margin-top: 0;
  margin-bottom: 0;
  border-width: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 31px;
  display: inline-block;
  margin-right: 10px;
}
body #costco-container #costco-view #sel-body .sel-opt-sect .sel-opt div {
  display: inline-block;
}
body #costco-container #costco-view #sel-body .sel-opt-sect .sel-opt .sel-slct {
  display: block;
  width: 100%;
  height: 31px;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  display: inline-block;
  width: auto;
  font-size: 12px;
  font-weight: bold;
  max-height: 31px;
  padding: 3px 12px;
}
body #costco-container #costco-view #sel-body .sel-opt-sect .sel-opt .sel-slct:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
body #costco-container #costco-view #sel-body .sel-opt-sect .sel-opt .sel-slct::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
body #costco-container #costco-view #sel-body .sel-opt-sect .sel-opt .sel-slct:-ms-input-placeholder {
  color: #999999;
}
body #costco-container #costco-view #sel-body .sel-opt-sect .sel-opt .sel-slct::-webkit-input-placeholder {
  color: #999999;
}
body #costco-container #costco-view #sel-body .sel-opt-sect .sel-opt .sel-slct[disabled],
body #costco-container #costco-view #sel-body .sel-opt-sect .sel-opt .sel-slct[readonly],
fieldset[disabled] body #costco-container #costco-view #sel-body .sel-opt-sect .sel-opt .sel-slct {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textareabody #costco-container #costco-view #sel-body .sel-opt-sect .sel-opt .sel-slct {
  height: auto;
}
body #costco-container #costco-view #sel-body .sel-chc-sect {
  margin-top: 0;
  margin-bottom: 0;
  border-width: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 226px;
  padding-left: 5px;
  padding-right: 5px;
  background: rgba(0, 0, 0, 0.5);
}
body #costco-container #costco-view #sel-body .sel-chc-sect .sel-caption {
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 15px;
  color: #ffffff;
  font-weight: bold;
}
body #costco-container #costco-view #sel-body .sel-chc-sect span {
  color: #ffffff;
  font-weight: bold;
}
body #costco-container #costco-view #sel-body .sel-chc-sect ul {
  margin-left: 1px;
  background: rgba(255, 255, 255, 0.75);
}
body #costco-container #costco-view #sel-body .sel-chc-sect ul img.sel-kit {
  width: 150px;
  height: 150px;
}
body #costco-container #costco-view #sel-body .sel-chc-sect ul .select-box {
  color: #000;
  font-weight: bold;
  text-align: center;
}
body #costco-container .costco-footer {
  margin-top: 0;
  margin-bottom: 0;
  border-width: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 25px;
}
.sel-sect-fade.ng-hide-add,
.sel-sect-fade.ng-hide-remove {
  display: block!important;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1;
}
.sel-sect-fade.ng-hide {
  height: 1px;
  opacity: 0;
}
.cc-map,
.angular-google-map-container {
  width: 100%;
  height: 380px;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0px);
  background-color: #e5e3df;
}
