@model RoadwireBiz.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<hr />

<h2>Password has been reset for @ViewBag.ResetEmail</h2>
        
<hr />

<strong>@Html.ActionLink("Back to List", "Index")</strong>        
