@*Utils Partials Map*@
<div inst-map ggl-maps="gglmaps"></div>

@*<div id="map-container">
    <form ng-submit="loadInstallers()" id="srchform" name="srchform" novalidate="novalidate">
        <label for="locaddr">Location</label>

        <input type="text" placeholder="current location" title="Enter Location (zip code)" name="locaddr" id="locaddr" ng-model="srchloc" required>

        <button type="submit" id="btnfind" title="Find Locations"
                ng-disabled="srchform.locaddr.$error.required">
            <span class="glyphicon glyphicon-search"></span>
            Find Locations
        </button>
        <button type="button" id="btnreset" title="Reset Map"
                ng-click="reset()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </form>
    <div id="map-canvas">map-canvas</div>
</div>*@
