@*Utils Partials Menu*@
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Roadwire Biz", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/menu">Menu</a></li>
                <li><a href="#/map">Map</a></li>
            </ul>
        </div>
    </div>
</div>

<div>
    {{aa}}{{bb}}
</div>

<footer class="utils-footer">
    &copy; @DateTime.Now.Year - Roadwire LLC
</footer>
