<div id="products">
    <h3>Products</h3>
    <div id="prod-row">
        <div class="prod-item">
            <div class="prod-descr">
                <input class="prod-name" ng-model="set.name" />
                <button class="del-btn" title="Delete Product" ng-click="delSet($index)"><span></span></button>
            </div>
            <div><label><input type="checkbox" ng-model="set.hidden"> Hidden</label></div>
            <h5 ng-show="set.options.length > 1">Options</h5>            

            <ul>
                <li ng-repeat="opt in set.options">
                    <input class="form-control input-sm frm-ctrl" ng-model="opt.name" ng-show="set.options.length > 1">
                    <span class="symbol"></span>
                    <input type="number" class="form-control input-sm frm-ctrl" ng-model="opt.price">
                    <button class="del-btn" title="Delete Option" ng-show="set.options.length > 1"><span></span></button>
                </li>
            </ul>
            <div>
                <button class="add-btn" title="Add Option" ng-click="set.addOpt()"><span></span> Add Option</button>
            </div>

        </div>
        <button class="add-prod" title="Add Product" ng-click="newSet($index)"><span></span> Add Product</button>
    </div>
</div>
<div id="calculate">
    <div>
        <button class="btn btn-default btn-calc" ng-click="calcResults()">
            <span class="glyphicon glyphicon-refresh"></span> Calculate
        </button>
    </div>
    <div>
        <h4>
            <span>Total Pages: </span>
            {{hidPages.length + regPages.length}}
        </h4>
    </div>

</div>
<div id="pages">
    
    <div class="page-item">
        <div class="page-head"><h3>Hidden Pages</h3></div>
        <div class="page-list">
        
            <table>
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th ng-repeat="set in hidSets">
                            {{set.name}}
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in hidPages">
                        <td>
                            {{$index}}
                        </td>
                        <td ng-repeat="opt in row.opts track by $index">
                            {{opt.name}}
                        </td>
                        <td>
                            {{row.price | currency}}
                        </td>
                    </tr>
                </tbody>
            </table>        
        
        </div>
        <div class="page-fut">
            Total Hidden Pages: {{hidPages.length}}
        </div>
    </div>
    
    <div class="page-item">
        <div class="page-head"><h3>Regular Pages</h3></div>
        <div class="page-list">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="opt in regPages">
                        <td>
                            {{$index}}
                        </td>
                        <td>
                            {{opt.name}}
                        </td>
                        <td>
                            {{opt.price | currency}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page-fut">
            Total Regular Pages: {{regPages.length}}
        </div>
    </div>

</div>
<div id="summary"></div>