<div class="flex-fix" >
    <h4>Products</h4>
    <div class="flex-row" style="overflow-x: auto;">
        <div class="flex-col" style="min-width:500px;">
            <div><input /><input /><input /><input /></div>
            <div>c</div>
            <div>c</div>
        </div>
        <div class="flex-col" style="min-width:500px;">
            <div><input /><input /><input /><input /></div>
            <div>c</div>
            <div>c</div>
        </div>
        @*<div class="flex-col" style="min-width:500px;">
            <div><input /><input /><input /><input /></div>
            <div>c</div>
            <div>c</div>
        </div>*@

    </div>
</div>
<div class="flex-fix flex-row">
    <div>
        <button class="btn btn-default btn-calc" ng-click="calcResults()">
            <span class="glyphicon glyphicon-refresh"></span> Calculate
        </button>
    </div>
    <div>
        <h4>
            <span>Total Pages: </span>
            {{hidPages.length + regPages.length}}
        </h4>
    </div>

</div>
<div class="flex-fill flex-row">
    <div class="flex-col">
        <div class="flex-fix"><h4>Hidden Pages</h4></div>
        <div class="flex-fill" style="overflow-y: scroll;">
            <p><input /></p><p><input /></p><p><input /></p><p><input /></p><p><input /></p>
            <p><input /></p><p><input /></p><p><input /></p><p><input /></p><p><input /></p>
            <p><input /></p><p><input /></p><p><input /></p><p><input /></p><p><input /></p>
            <p><input /></p><p><input /></p><p><input /></p><p><input /></p><p><input /></p>
            <p><input /></p><p><input /></p><p><input /></p><p><input /></p><p><input /></p>
            <p><input /></p><p><input /></p><p><input /></p><p><input /></p><p><input /></p>
        </div>
        <div class="flex-fix">c</div>
    </div>
    <div class="flex-col">
        <div class="flex-fix"><h4>Regular Pages</h4></div>
        <div class="flex-fill" style="overflow-y: scroll;">
            <p><input /></p><p><input /></p><p><input /></p><p><input /></p><p><input /></p>
            <p><input /></p><p><input /></p><p><input /></p><p><input /></p><p><input /></p>
        </div>
        <div class="flex-fix">c</div>
    </div>
</div>
<div class="flex-fix">
    bot
</div>