<h3>Test</h3>

    <button class="btn btn-default" ng-click="WhyInstall()">Open me!</button>
    <button class="btn btn-default" ng-click="WhyInstall('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="WhyInstall('sm')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>


